@tailwind base;

@tailwind components;

h1 {
    @apply text-3xl;
    font-family: 'Roboto', sans-serif;
}
h2 {
    @apply text-2xl;
    font-family: 'Roboto', sans-serif;
}
h3 {
    @apply text-xl;
    font-family: 'Roboto', sans-serif;
}
p  {
    font-family: 'Roboto', sans-serif;
}
a {
    @apply text-blue-600 underline;
}
.btn {
    @apply text-white text-xs font-medium tracking-wider uppercase border-2 px-6 py-2;
}
.icon {
    color: #999999
}
.icon:hover {
    color: #CCCCCC
}

@tailwind utilities;