@tailwind base;

@tailwind components;


html {
    scroll-behavior: smooth;
  }
h1 {
    @apply text-3xl;
    font-family: 'Roboto', sans-serif;
}
h2 {
    @apply text-2xl;
    font-family: 'Roboto', sans-serif;
}
h3 {
    @apply text-xl;
    font-family: 'Roboto', sans-serif;
}
p  {
    font-family: 'Roboto', sans-serif;
}
a {
    @apply text-blue-600 underline;
}
.btn {
    @apply text-white text-xs font-medium tracking-wider uppercase border-2 px-6 py-2;
}
.icon {
    color: #a0aec0;
}
.icon:hover {
    color: #FFFFFF;
}
.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before  { 
    background-color: #a0aec0;
}
.burger  {
    font-size: 8px;
}
#footer {
    font-size: .5rem;
}
svg:hover {
    fill: red;
}


@tailwind utilities;